<div class ="sign_up">
  <h3>Create A New User</h3>
<%= form_tag({controller: "users", action: "create"}, method: "post") do %>
  <%fields_for :user do |f|%>
    <%= f.label :name %>
    <%= f.text_field :name%><br>

    <%= f.label :username %>
    <%= f.text_field :username %><br>

    <%= f.label :email %>
    <%= f.email_field :email %><br>

    <%= f.label :password %>
    <%= f.password_field :password %><br>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %><br>

    <%= f.submit "create" %>
    <%end%>
<% end %>
</div>


<style>
body {
    background-color: #CBB38A;
}
</style>
