<h1>Welcome to TrackeRapper</h1>

<div>
<h2>Create User</h2>

  <%= form_for @user do |f| %>
    <label for=:name>Name:</label>
    <%= f.text_field :name %><br>
    <label for=:quote>Quote:</label>
    <%= f.text_field :quote %><br>
    <label for=:password>Password:</label>
    <%= f.password_field :password %><br>
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %><br>
    <%= f.submit %>
  <% end %>

</div>
