<h2> Hello <%= @user.name %>, welcome to your tracker page! </h2>

<h3>Completed Achievements</h3>
<% if @public_achievements.length == 0 %>
  <li> Nothing achieved :( </li>
<% end %>
<% @public_achievements.each do |item| %>
  <li><%= item.name %>, <%= item.description %></li>
<% end %>
</br>

<h3>Bucket List</h3>
<ul>
 <% @all_bucketlist.each do |item| %>

 <li>
     Name: <%= item.name %>
     Description: <%= item.description %>
     <%= button_to("Delete!", bucketlist_delete_path(item), method: :put) %>
   </li>

 <% end %>
</ul>

<% if @current_user == @user %>
  <h3>Add Item to Bucketlist</h3>
  <%= form_for @bucketlist do |f| %>
    <input type="hidden" name="user_id" value="<%=@user.id%>">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.submit "Add Item" %>
  <% end %>
<%end%>


<h3>Completed Activities</h3>
<% if @all_activities.length == 0 %>
  <li> No activities completed :(</li>
<% end %>
<% @all_activities.each do |item| %>
  <li><%= item.name %>, <%= item.description %></li>
<% end %>
</br>



</br></br>

<% if @current_user == @user %>
<div>
<h4>Delete yourself</h4>
<h4>Enter your password to confirm you want to delete your account</h4>
<%= form_for @user do |f| %>
  <%= f.label :password %>
  <%= f.text_field :password %>
  <%= f.submit "Delete"%>
<% end %>
</div>
<%end%>
