<h2> Hello <%= @user.name %>, welcome to your tracker page! </h2>

<h3>Completed Achievements</h3>
<% if @public_achievements.length == 0 %>
  <li> Nothing achieved :( </li>
<% end %>
<% @public_achievements.each do |item| %>
  <li><%= item.name %>, <%= item.description %></li>
<% end %>
</br>

<h3>Activities to do</h3>
<ul>
 <% @all_activities.each do |item| %>
  <% if item.accomplished == false %>
   <li>
       Name: <%= item.name %>
       Description: <%= item.description %>
       <%= button_to("Accomplish!", activity_update_path(item), method: :put) %>
       <%= button_to("Delete!", activity_delete_path(item), method: :put) %>
     </li>
  <% end %>
 <% end %>
</ul>

<% if @current_user == @user %>
<h3>Add New Activity </h3>
<%= form_tag activities_path, method: "post" do %>
<input type="hidden" name="user_id" value="<%=@user.id%>">
<%= select_tag "activity", options_for_select(@activities_list.map {|activity|  activity})%>
<%= submit_tag "Submit", name: nil %>
<% end %>
<%end%>

<% if @simulation.errors.any? %>
    <% @simulation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
<% end %>
<h3>Or Make a New Activity</h3> <% #not working yet! %>
<%= form_tag activities_path, method: "post" do %>
<input type="hidden" name="user_id" value="<%=@user.id%>">
<input type="hidden" name="points" value=10>
Name: <%= text_field_tag :name %>
Description: <%= text_field_tag :description %>
Category: <%= select_tag "category", options_for_select(@categories.map {|category|  category})%>
<%= submit_tag "Create an Activity" %>
<% end %>



<h3>Completed Activities</h3>
<% if @all_activities.length == 0 %>
  <li> No activities completed :(</li>
<% end %>
<% @all_activities.each do |item| %>
  <% if item.accomplished == true %>
    <li><%= item.name %>, <%= item.description %></li>
  <% end %>
<% end %>
</br>



</br></br>

<% if @current_user == @user %>
<div>
<h4>Delete yourself</h4>
<h4>Enter your password to confirm you want to delete your account</h4>
<%= form_for @user do |f| %>
  <%= f.label :password %>
  <%= f.text_field :password %>
  <%= f.submit "Delete"%>
<% end %>
</div>
<%end%>
