<% if @current_user == @user %>
<h2> Hello <%= @user.name.capitalize %>, welcome to your tracker page! </h2>
<% else %>
<h2><%= @user.name.capitalize %>'s Page</h2>
<% end %>
</br>
<h3>Completed Achievements</h3>
<% if @public_achievements.length == 0 %>
  <li> Nothing achieved :( </li>
<% end %>

<div class="achievements row">
  <% @grouped_user_achievements.each do |category_name, achievement_group| %>
    <div class="col s2">
      <h4><%= category_name %></h4>
      <% if achievement_group.length == 0 %>
        <li> No <%= category_name %> achievements :(</li>
      <% end %>
      <% achievement_group.each do |achievement|%>
        <h6><%= link_to achievement.name, achievement_path %></h6>
        <img src="<%= achievement.img_reference %>" alt="<%achievement.description%>" height="50" width="50">
      <% end %>
    </div>
  <% end %>

  <div class="col s2">
    <h4>Miscellaneous</h4>
    <% if @achievement_brain_and_brawn %>
    <h6>Brain and Brawn </h6>
    <img src="https://goo.gl/7tgofx" alt="Brain and Brawn" height="50" width="50">
    <% end %>
  </br>
  <% if @achievement_globalized %>
  <h6>Globalized </h6>
  <img src="https://goo.gl/rXAAPz" alt="Globalized" height="50" width="50">
  <% end %>
</div>
</div>




<h3>Completed Activities</h3> <!--yes, repetitive, probably could abstract it out, but it works-->

<div class="achievements row">
  <% @grouped_user_activities.each do |category_name, activity_group| %>
  <div class="col s2">
    <h4><%= category_name %></h4>
    <% if activity_group.length == 0 %>
      <li> No <%= category_name %> activities :(</li>
    <% end %>
    <% activity_group.each do |activity, count| %>
      <li><%= link_to activity.name, activity_path %>
    <% if count > 1 %>
    , <%= count %>
    <% end %>
    </li>
    <% end %>
  </div>
  <% end %>
</div>


<div class="row">

  <div class="col s6">
  <h3>Completed Activities Pie Chart</h3>
  <% if @current_user == @user %>
  <h5>Are you well-rounded? (hint: It's interactive)</h5>
  <% else %>
  <h5>Is <%= @user.name.capitalize %> well-rounded? (hint: It's interactive)</h5>
  <% end %>
    <div id="chart-2" style="height: 300px; text-align: right; color: #999; line-height: 300px; font-size: 14px; font-family: Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif; margin-bottom: 20px;">Loading...</div>
    <script>
    var column = <%=raw @scores_array%>;
    new Chartkick.PieChart(document.getElementById("chart-2"), [column[0],column[1],column[2],column[3],column[4]], {});
    </script>
  </div>

<div class="col s3">
<% if @current_user == @user %>

  <h3>Activities to do</h3>
  <% if @unaccomplished_activities.length == 0 %>
    <li> No activities to work on :( </li>
  <% end %>
  <ul>
   <% @unaccomplished_activities.each do |item| %>
     <li>
         Name: <%= item.name %>
         <%= button_to("Accomplish!", activity_update_path(item), method: :put) %>
         <%= button_to("Delete!", activity_delete_path(item), method: :put) %>
       </li>
    <% end %>
  </ul>
</div>

<div class="col s3">
  <h5>Add New Activity </h5>
  <%= form_for @activities do |f| %>
    <%= f.hidden_field :user_id, :value => @user.id%>
    Activity: <%= f.select :name, @activities_list.sort.collect {|activity| activity}, {}, {class: "browser-default"}%> <!--materialize reformatted how select dropdownsd work, this is a workaround-->
    <%= f.submit "Add Activity" %>
  <% end %>
</br>

  <h5>Make a New Activity</h5>
  <%= form_for @activities do |f|%>
    <%= f.hidden_field :user_id, :value => @user.id%>
    <%= f.hidden_field :points, :value => 10 %>
    <%= f.hidden_field :accomplished, :value => false %>
    Activity Name: </br><%= f.text_field :name, class: "my_input" %></br>
    Activity Category: <%= f.select :category, @categories.collect {|category| category}, {}, {class: "browser-default"}%> <!--materialize reformatted how select dropdownsd work, this is a workaround-->
    <%= submit_tag "Create and Add Activity" %>
  <% end %>
</div>
</div>

<% end %>
</div>
</div>


</br></br>

<% if @current_user == @user %>
<div>
<h4>Delete yourself</h4>
<h4>Enter your password to confirm you want to delete your account</h4>
<%= form_for @user do |f| %>
  <%= f.label :password %>
  <%= f.text_field :password, class: "my_delete_input" %>
  <%= link_to 'Destroy', @user, method: :delete %>
  <% end %>
</div>
<% end %>


<style>
body {
    background-color: #CBB38A;
}
</style>
