<% if @current_user == @user %>
<h2> Hello <%= @user.name %>, welcome to your tracker page! </h2>
<% else %>
<h2><%= @user.name %>'s Page</h2>
<% end %>
<h3>Completed Achievements</h3>
<% if @public_achievements.length == 0 %>
  <li> Nothing achieved :( </li>
<% end %>
<% @public_achievements.each do |item| %>
  <li><%= item.name %>, <%= item.description %></li>
<% end %>
</br>

<h3>Completed Activities</h3> <!--yes, repetitive, probably could abstract it out, but it works-->

<div class="row">
  <div class="col s2">
  <h4>Fitness</h4>
    <% if @grouped_user_fitness.length == 0 %>
      <li> No Fitness and Health activities :(</li>
    <% end %>
    <% @grouped_user_fitness.each do |fitness, count| %>
      <li><%= link_to fitness.name, activity_path(fitness) %>
      <% if count > 1 %>
      , <%= count %>
      <% end %>
      </li>
    <% end %>
  </div>

  <div class="col s2">
  <h4>Relationship</h4>
    <% if @grouped_user_relationship.length == 0 %>
      <li> No Relationship and Well-Being activities :(</li>
    <% end %>
    <% @grouped_user_relationship.each do |relationship, count| %>
      <li><%= link_to relationship.name, activity_path(relationship) %>
      <% if count > 1 %>
      , <%= count %>
      <% end %>
      </li>
    <% end %>
  </div>

  <div class="col s2">
  <h4>Intellectual</h4>
    <% if @grouped_user_intellectual.length == 0 %>
      <li> No Intellectual activities :(</li>
    <% end %>
    <% @grouped_user_intellectual.each do |intellectual, count| %>
      <li><%= link_to intellectual.name, activity_path(intellectual) %>
      <% if count > 1 %>
      , <%= count %>
      <% end %>
      </li>
    <% end %>
  </div>

  <div class="col s2">
  <h4>Purpose</h4>
    <% if @grouped_user_purpose.length == 0 %>
      <li> No Purpose activities :(</li>
    <% end %>
    <% @grouped_user_purpose.each do |purpose, count| %>
      <li><%= link_to purpose.name, activity_path(purpose) %>
      <% if count > 1 %>
      , <%= count %>
      <% end %>
      </li>
    <% end %>
  </div>

  <div class="col s2">
  <h4>Professional</h4>
    <% if @grouped_user_professional.length == 0 %>
      <li> No Professional activities :(</li>
    <% end %>
    <% @grouped_user_professional.each do |professional, count| %>
      <li><%= link_to professional.name, activity_path(professional) %>
      <% if count > 1 %>
      , <%= count %>
      <% end %>
      </li>
    <% end %>
  </div>

</div>

<div class="row">

  <div class="col s6">
  <h3>Completed Activities Pie Chart</h3>
  <% if @current_user == @user %>
  <h5>Are you well-rounded? (hint: It's interactive)</h5>
  <% else %>
  <h5>Is <%= @user.name %> well-rounded? (hint: It's interactive)</h5>
  <% end %>
    <div id="chart-2" style="height: 300px; text-align: right; color: #999; line-height: 300px; font-size: 14px; font-family: Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif; margin-bottom: 20px;">Loading...</div>
    <script>
    var column = <%=raw @scores_array%>;
    new Chartkick.PieChart(document.getElementById("chart-2"), [column[0],column[1],column[2],column[3],column[4]], {});
    </script>
  </div>

<div class="col s6">
<% if @current_user == @user %>

  <h3>Activities to do</h3>
  <% if @unaccomplished_activities.length == 0 %>
    <li> No activities to work on :( </li>
  <% end %>
  <ul>
   <% @unaccomplished_activities.each do |item| %>
     <li>
         Name: <%= item.name %>
         <%= button_to("Accomplish!", activity_update_path(item), method: :put) %>
         <%= button_to("Delete!", activity_delete_path(item), method: :put) %>
       </li>
    <% end %>
  </ul>
<div class="row">
  <div class="col s6">
  <h5>Add New Activity </h5>
  <%= form_for @activities do |f| %>
    <%= f.hidden_field :user_id, :value => @user.id%>
    Activity: <%= f.select :name, @activities_list.sort.collect {|activity| activity}, {}, {class: "browser-default"}%> <!--materialize reformatted how select dropdownsd work, this is a workaround-->
    <%= f.submit "Add Activity" %>
  <% end %>
</div>
<div class="col s6">
  <h5>Make a New Activity</h5>
  <%= form_for @activities do |f|%>
    <%= f.hidden_field :user_id, :value => @user.id%>
    <%= f.hidden_field :points, :value => 10 %>
    <%= f.hidden_field :accomplished, :value => false %>
    Activity Name: </br><%= f.text_field :name, class: "my_input" %></br>
    Activity Category: <%= f.select :category, @categories.collect {|category| category}, {}, {class: "browser-default"}%> <!--materialize reformatted how select dropdownsd work, this is a workaround-->
    <%= submit_tag "Create and Add Activity" %>
  <% end %>
</div>
</div>

<% end %>
</div>
</div>


</br></br>

<% if @current_user == @user %>
<div>
<h4>Delete yourself</h4>
<h4>Enter your password to confirm you want to delete your account</h4>
<%= form_for @user do |f| %>
  <%= f.label :password %>
  <%= f.text_field :password, class: "my_delete_input" %>
  <%= link_to 'Destroy', @user, method: :delete %>
  <% end %>
</div>
<% end %>
