<h2> Hello <%= @user.name %>, welcome to your tracker page! </h2>

<h3>Completed Achievements</h3>
<% if @public_achievements.length == 0 %>
  <li> Nothing achieved :( </li>
<% end %>
<% @public_achievements.each do |item| %>
  <li><%= item.name %>, <%= item.description %></li>
<% end %>
</br>

<h3>Activities to do</h3>
<ul>
 <% @all_activities.each do |item| %>
  <% if item.accomplished == false %>
   <li>
       Name: <%= item.name %>
       <%= button_to("Accomplish!", activity_update_path(item), method: :put) %>
       <%= button_to("Delete!", activity_delete_path(item), method: :put) %>
     </li>
  <% end %>
 <% end %>
</ul>

<% if @current_user == @user %>

<h3>Add New Activity </h3>

<%= form_for @activities do |f| %>
  <%= f.hidden_field :user_id, :value => @user.id%>
  <%= f.select :name, @activities_list.collect {|activity| activity} %>
  <%= f.submit "Create Activity" %>
<% end %>

<h3>Or Make a New Activity</h3>
<%= form_for @activities do |f|%>
  <%= f.hidden_field :user_id, :value => @user.id%>
  <%= f.hidden_field :points, :value => 10 %>
  <%= f.hidden_field :accomplished, :value => false %>
  <%= f.text_field :name %>
  <%= f.select :category, @categories.collect {|category| category}%>
  <%= submit_tag "Create an Activity" %>
<% end %>


<%end%>



<h3>Completed Activities</h3>
<% if @grouped_activities.length == 0 %>
  <li> No activities completed :(</li>
<% end %>
<% @grouped_activities.each do |item, count| %>
  <li><%= item %>
    <% if count > 1 %>
    , <%=count %>
    <% end %>
  </li>
<% end %>
</br>

<div id="chart-2" style="height: 300px; text-align: center; color: #999; line-height: 300px; font-size: 14px; font-family: Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif; margin-bottom: 20px;">Loading...</div>
<script>
var column = <%=raw @scores_array%>;
new Chartkick.PieChart(document.getElementById("chart-2"), [column[0],column[1],column[2],column[3],column[4]], {});
</script>


</br></br>

<% if @current_user == @user %>
<div>
<h4>Delete yourself</h4>
<h4>Enter your password to confirm you want to delete your account</h4>
<%= form_for @user do |f| %>
  <%= f.label :password %>
  <%= f.text_field :password %>
  <%= link_to 'Destroy', @user, method: :delete %>
<% end %>
</div>
<%end%>
