<h2> Hello <%= @user.name %>, welcome to your tracker page! </h2>
<h3><%= link_to "All Achievements", achievements_path %></h3>
<% @public_achievements.each do |achievement| %>
  <ul>
  <li><%= link_to achievement.name, achievement_path %>, <%= achievement.description %></li>
  </ul>
<% end %>


<h3>Add Item to Bucketlist</h3>
<%= form_for @bucketlist do |f| %>
  <input type="hidden" name="user_id" value="<%=@user.id%>">
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.submit "Add Item" %>
<% end %>

</br>
<h3>Enter the name of an item to remove it from your bucketlist</h3>
<%= form_for @bucketlist do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit "Remove Item" %>
<% end %>


</br></br>
<h4>Delete yourself</h4>
<h4>Enter your password to confirm you want to delete your account</h4>
<%= form_for @user do |f| %>
  <%= f.label :password %>
  <%= f.text_field :password %>
  <%= f.submit "Delete"%>
<% end %>

<button type="button" name="button">
  <%= link_to("Log Out", delete_sessions_path, method: :delete) %>
</button>
